apiVersion: v1
kind: Service
metadata:
  name: profile
  namespace: banking-app
  labels:
    app: profile
    service: profile
spec:
  ports:
  - port: 8081
    name: http
    targetPort: 8081
  selector:
    app: profile
